{% extends 'base.html' %}
{% block content_block %}
    <div class="error_at_backend">
        Oops!!! Something doesnt seem right, Contact the administrator..
        {{ error }}
    </div>
    <table>
        <thead>
        <tr>
            <th>Ticket ID</th>
            <th>Full Name</th>
            <th>System ID</th>
            <th>IP Address</th>
            <th>Issue</th>
            <th>Issued Day</th>
            <th>Priority</th>
            <th>Status</th>
            <th>Assigned to</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
{% endblock %}