{% extends 'base.html' %}
{% block content_block %}
    <link rel="stylesheet" href="/static/dashboard.css">
    <script type="text/javascript" src="/static/javascript.js"></script>
    <div class="loader">
        <div class="loader_gif"></div>
    </div>
    <div class="dash_container">
    <div class="main_section">
    <div class="main_section_header">
        <div class="main_section_header_label" align="right">
            <div class="tabs non_active_tabs"><a id="dash_link" href="/pending_ticket/">Unresolved Tickets</a></div>
            <div class="tabs_right active_tabs"><a id="dash_link" href="/resolved_ticket/">Resolved Tickets</a></div>
        </div>
    </div>
    <div class="main_section_content resolved">
    <div id="left_section">
        {% if 'ticket_tracker' in perms %}
            {% if 'ticket_tracker.can_assign_ticket' in perms %}
                <div class="filter_section" id="admin_filter">
                    {#                    <form name="assigned_to_me_form" method="post">{% csrf_token %}#}
                    {#                        <div class="filter_section_list">Issues#}
                    {#                            assigned to me<input type="submit" value="">#}
                    {#                            <input type='hidden' name="assigned_to_me" value="assigned to me">#}
                    {#                        </div>#}
                    {#                    </form>#}
                    {#                    <form method="post">{% csrf_token %}#}
                    {#                        <div class="filter_section_list select">#}
                    {#                            <select id="engineer_filter" name="select_an_engineer" onchange="this.form.submit()">#}
                    {#                                <option default value="">Select an engineer assigned:</option>#}
                    {#                                {% for i in engineer_list %}#}
                    {#                                    {% if i.username|stringformat:"s" == user|stringformat:"s" %}#}
                    {#                                    {% else %}#}
                    {#                                        <option value="{{ i.id }}">{{ i.username }}</option>#}
                    {#                                    {% endif %}#}
                    {#                                {% endfor %}#}
                    {#                            </select></div>#}
                    {#                    </form>#}
                    <form name="download_csv" method="post" onsubmit="return confirm('Are you sure?')">
                        {% csrf_token %}
                        <div class="filter_section_list">Download CSV
                            <input type="hidden" name="download" value="Download">
                            <input type="submit" value="" name="download_csv" onclick="event.preventDefault()">
                        </div>
                    </form>
                </div>
            {% endif %}
            {% if 'ticket_tracker.view_ticket_tracker' in perms or 'ticket_tracker.self_assign_ticket' in perms %}
                <div class="filter_section" id="general_filter">
                    {% if 'ticket_tracker.self_assign_ticket' in perms %}
                        <div class="filter_section_list">
                            <input id="search_in_table" type="text" placeholder="Search an issue">
                            <input type="submit" value="">
                        </div>
                        <form name='all_issues' method="get" action="/resolved_ticket/">
                            <div class="filter_section_list">All Issues<input type="submit" value="">
                            </div>
                        </form>
                        {#                        <form method="post">{% csrf_token %}#}
                        {#                            <div class="filter_section_list select">#}
                        {#                                <select id="user_filter" name="select_a_user" onchange="this.form.submit()">#}
                        {#                                    <option default>Select a user</option>#}
                        {#                                    {% for i in user_list %}#}
                        {#                                        <option value="{{ i.username }}">{{ i.username }}</option>#}
                        {#                                    {% endfor %}#}
                        {#                                </select></div>#}
                        {#                        </form>#}
                    {% endif %}
                    <form name="date_form" method="post" action="/resolved_ticket/">
                        {% csrf_token %}
                        <table class="filter_section_list_table">
                            <tr>
                                <td class="left_td">
                                    <div class="date_selector">
                                        <input type="text" id="start_date" name="start_date"
                                               required placeholder="From-Date">
                                    </div>
                                </td>
                                <td rowspan="2" class="right_td">
                                    <div class="date_search" align="center">
                                        <input type="submit" value=""></div>
                                </td>
                            </tr>
                            <tr>
                                <td class="left_td">
                                    <div class="date_selector">
                                        <input type="text" id="end_date" name="end_date"
                                               required placeholder="To-Date">
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            {% endif %}
        {% endif %}
    </div>

    <div id="right_section">
        <div id="description_section">
            <div class="detail_section detail_section_resolved" id="resolved_section">
                <div class="section_label" id="resolved_section_label">
                    Resolved Tickets
                    <div class="section_label_counter">count</div>
                </div>
                <div class="section_table">
                    <table id="resolved_section_table">
                        <thead>
                        <tr>
                            <th>Ticket ID</th>
                            <th>Full Name</th>
                            <th>System ID</th>
                            <th>IP Address</th>
                            <th>Issue</th>
                            <th>Issued Day</th>
                            <th>Priority</th>
                            <th>Status</th>
                            <th>Assigned to</th>
                            <th>Resolved By</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in ticket_list %}
                            <tr class="tickets highlighted" ticket_id="{{ i.id }}" ondblclick="drop_down_comment(this)"
                                title="Double click to check the details">
                                <td class="ticket_id ticket_id_column">{{ i.id }}</td>
                                <td class="user_name_column">{{ i.created_by }}</td>
                                <td class="system_id_column">{{ i.system_id }}</td>
                                <td class="ipaddress_column">{{ i.ipaddress }}</td>
                                <td class="complaints_column">
                                    <div class="complaints_box" align="left">{{ i.complaints }}</div>
                                </td>
                                <td class="complaints_date_column">{{ i.created_on|date:'N d, Y, h:ia' }}</td>
                                <td class="priority_column">
                                    {#                                    {% if perms.ticket_tracker.can_assign_ticket %}#}
                                    {#                                        <select class="priority_selection"#}
                                    {#                                                onchange="priority_update(this)"#}
                                    {#                                                name="priority">#}
                                    {#                                    {% else %}#}
                                    {#                                        <select class="priority_selection"#}
                                    {#                                                onchange="priority_update(this)"#}
                                    {#                                                name="priority" disabled>#}
                                    {#                                    {% endif %}#}
                                    {#                                    {% for j in priority %}#}
                                    {#                                        {% if i.priority|stringformat:'s' == j|stringformat:'s' %}#}
                                    {#                                            <option value="{{ j }}" selected>{{ j }}</option>#}
                                    {#                                        {% else %}#}
                                    {#                                            <option value="{{ j }}">{{ j }}</option>#}
                                    {#                                        {% endif %}#}
                                    {#                                    {% endfor %}#}
                                    {#                                    </select>#}
                                    <div class="priority_selection">{{ i.priority }}</div>
                                </td>
                                <td class="status_column">
                                    {#                                    {% if perms.ticket_tracker.self_assign_ticket and not perms.ticket_tracker.can_assign_ticket %}#}
                                    {#                                        <select class="status_selection" onchange="status_update(this)"#}
                                    {#                                                name="status" disabled>#}
                                    {#                                    {% else %}#}
                                    {#                                        <select class="status_selection" onchange="status_update(this)"#}
                                    {#                                                name="status">#}
                                    {#                                    {% endif %}#}
                                    {##}
                                    {#                                    {% for j in status_list %}#}
                                    {#                                        {% if i.status.name|stringformat:'s' == j.name|stringformat:'s' %}#}
                                    {#                                            {% if j.name|stringformat:'s' == 'unassigned' %}#}
                                    {##}
                                    {#                                            {% else %}#}
                                    {#                                                <option value="{{ j.id }}"#}
                                    {#                                                        selected>{{ j.name }}</option>#}
                                    {#                                            {% endif %}#}
                                    {#                                        {% else %}#}
                                    {#                                            {% if j.name|stringformat:'s' == 'unassigned' %}#}
                                    {##}
                                    {#                                            {% else %}#}
                                    {#                                                <option value="{{ j.id }}">{{ j.name }}</option>#}
                                    {#                                            {% endif %}#}
                                    {#                                        {% endif %}#}
                                    {#                                    {% endfor %}#}
                                    {#                                    </select>#}
                                    {{ i.status.name }}
                                </td>
                                <td class="assigned_to_column">
                                    {#                                    <select class="engineers_selection" onchange="engineer_update(this)"#}
                                    {#                                            data_engineer_id="{{ i.assigned_to_id }}" disabled>#}
                                    {#                                        {% for j in engineer_list %}#}
                                    {#                                            {% if i.assigned_to.username|stringformat:'s' == j|stringformat:'s' %}#}
                                    {#                                                <option value="{{ j.id }}" selected>{{ j }}</option>#}
                                    {#                                            {% else %}#}
                                    {#                                                <option value="{{ j.id }}">{{ j }}</option>#}
                                    {#                                            {% endif %}#}
                                    {#                                        {% endfor %}#}
                                    {#                                    </select>#}
                                    {% if not  i.assigned_to.username %}
                                        <button class="mark_assigned" data_engineer_id="{{ i.created_by }}"
                                                data_engineer_name="{{ i.created_by }}">User Resolved
                                        </button>
                                    {% else %}
                                        <button class="mark_assigned" data_engineer_id="{{ i.assigned_to_id }}"
                                                data_engineer_name="{{ i.assigned_to.username }}">{{ i.assigned_to.username }}
                                        </button>
                                    {% endif %}
                                </td>
                                <td class="resolved_now_column">
                                    <div class="resolved_by" data_engineer_id="{{ i.resolved_by_id }}">
                                        {{ i.resolved_by.username }}
                                    </div>
                                </td>
                            </tr>
                            {#                            <tr class="tickets comments" ticket_id="{{ i.id }}">#}
                            {#                                <td colspan="42">#}
                            {#                                    <div class="comment_container">#}
                            {#                                        <div class="comment_header"><span class="issue_topic">Issue:</span>#}
                            {##}
                            {#                                            <div class="issue_subject">{{ i.complaints }}</div>#}
                            {#                                            <div class="comments_close">#}
                            {#                                                <button onclick="close_comment(this)">X</button>#}
                            {#                                            </div>#}
                            {#                                        </div>#}
                            {#                                        <div class="comment_body_container"><span#}
                            {#                                                class="issue_topic">Comments:</span>#}
                            {##}
                            {#                                            <div class="comment_body">#}
                            {#                                                {% for c in i.comments_set.all %}#}
                            {#                                                    <div class="inside_comment_body">#}
                            {#                                                        <span class="date_section">[{{ c.date_of_posted_comment|date:'N d, Y, h:ia' }}]</span>#}
                            {#                                                        <span class="user_name_section">[{{ c.commentor.username }}]</span>#}
                            {#                                                        <span class="comment_section">{{ c.comments }}</span>#}
                            {#                                                    </div>#}
                            {#                                                {% endfor %}#}
                            {#                                            </div>#}
                            {#                                        </div>#}
                            {#                                        <div class="comment_footer">#}
                            {#                                            <div id="input_comment"><input class="comment_input_region"#}
                            {#                                                                           type="text"#}
                            {#                                                                           placeholder="Enter your comments">#}
                            {#                                            </div>#}
                            {#                                            <div id="input_submit">#}
                            {#                                                <button id="submit_button" onclick="post_comment(this)">Comment#}
                            {#                                                </button>#}
                            {#                                            </div>#}
                            {#                                        </div>#}
                            {#                                    </div>#}
                            {#                                </td>#}
                            {#                            </tr>#}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
    {#    <div class="main_section_footer">#}
    {#        <div class="main_section_footer_label" align="right">#}
    {#            {% if ticket_list.has_previous %}#}
    {#                <div class="tabs"><a href="?page={{ ticket_list.previous_page_number }}"><img#}
    {#                        src="/static/media/arrow_left.png"></a></div>#}
    {#            {% endif %}#}
    {#            <div class="tabs">Page {{ ticket_list.number }} of {{ ticket_list.paginator.num_pages }}</div>#}
    {#            {% if ticket_list.has_next %}#}
    {#                <div class="tabs"><a href="?page={{ ticket_list.next_page_number }}"><img#}
    {#                        src="/static/media/arrow_right.png"></a></div>#}
    {#            {% endif %}#}
    {#        </div>#}
    {#    </div>#}
    </div>
    </div>
{% endblock %}
